body {
  color: #555;
  margin: 0;
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: 'Libre Baskerville', serif;
 }

/*header set*/
.header2 {
  width: auto;
  height: 200px;
  margin: auto;
  background: url(road_01.jpg) center no-repeat;
  box-shadow: 0 12px 15px -6px gray;
}
#header {
  width: center;
  height: 150px;
  line-height: 150px;
  /*text-transform: uppercase;*/
 letter-spacing: 0.1em;
}
#header a{
  color: white;
  test-decoration: none;
}
#header a:hover {
  text-shadow: 0 0 10px #d2d2d2;
}
#header-title {
  display: block;
  float: left;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0 1px 0 black;
  /*font-family: 'Dancing Script', cursive;*/
  font-family: 'Kaushan Script', cursive;
  /*font-family: 'Lobster Two', cursive;*/
}
#header-nav {
  display: block;
  float: right;
  margin-top: 0;
}
#header-nav li {
  display: inline;
  padding-left: 20px;
  text-shadow: 0 1px 0 black;

=======
>>>>>>> 6ce949b1d8a8d2ad8c7f4ec2c6bdf225b2b179c8
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}

/*content set*/
.post, .about {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 0;
}
.post-author img {
  width: 20%;
  height: auto;
  vertical-align: bottom;
  border-radius: 30%;
  box-shadow: 0 -4px 25px -6px gray;
}

.about-author img {
  width: 50%;
  height: auto;
  vertical-align: middle;
  border-radius: 70%;
  box-shadow: 0 5px 20px -6px gray;
}
.post-container:nth-child(even) {
  background-color: #f2f2f2;
  box-shadow: 0 -1px 20px 3px gray;
}
.post-author span {
  margin-left: 16px;
}
.post-date {
  color: #D2D2D2;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
h1, h2, h3, h4 {
  color: #333;
}
p {
  line-height: 1.5;
}
/*about*/
.about {
  text-align: center;
}
/*footer*/

#footer {
  background-color: #2f2f2f;
  padding: 50px 0;
}
#footer h4 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#footer p {
  color: white;
}
#footer-nav li{
  display: inline;
  padding: 12px;
}
.column {
  min-width: 300px;
  display: inline-block;
}

a {
  color: #1abc9c;
  text-decoration: none;
}
a:hover {
  color: #F6A623;
}
